/* css specific to the circle pattern */
.circle-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 20px;
    background: #000000;
    border-radius: 12px;
    border: 1px solid #444;
    max-width: 735px;
}

.circle {
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.circle:hover {
    transform: scale(1.2);
}
