body {
        margin: 0;
        padding: 50px;
        background: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
}

.wrapper {
        position: relative;
        min-width: 60px;
        margin-right: 10px;
        height: 100px;
}

.wrapper div {
        position: absolute;
}

#letter-e1 div {
        background: #000000;
}

#letter-e1 .vertical {
        left: 0;
        top: 0;
        width: 12px;
        height: 100px;
}

#letter-e1 .top {
        left: 0;
        top: 0;
        width: 45px;
        height: 12px;
}

#letter-e1 .middle {
        left: 0;
        top: 44px;
        width: 30px;
        height: 12px;
}

#letter-e1 .bottom {
        left: 0;
        bottom: 0;
        width: 45px;
        height: 12px;
}

#letter-e2 div {
        background: red;
        box-shadow: -2px 2px 4px gray;
        left: 0;
}

#letter-e2 .vertical {
        top: 14px;
        height: 86px;
        width: 6px;
        z-index: 1;
}

#letter-e2 .top {
        top: 14px;
        left: 6px;
        height: 6px;
        width: 34px;
}

#letter-e2 .middle {
        top: 54px;
        left: 6px;
        height: 6px;
        width: 34px;
}

#letter-e2 .bottom {
        bottom: 0;
        left: 6px;
        height: 6px;
        width: 34px;
}

#letter-e3 div {
        background: purple;
}

#letter-e3 .vertical-left {
        left: 0;
        top: 40px;
        width: 6px;
        height: 60px;
}

#letter-e3 .vertical-right {
        left: 44px;
        top: 40px;
        width: 6px;
        height: 33px;
}

#letter-e3 .top {
        left: 0;
        top: 40px;
        width: 50px;
        height: 6px;
}

#letter-e3 .middle {
        left: 0;
        top: 67px;
        width: 50px;
        height: 6px;
}

#letter-e3 .bottom {
        left: 0;
        bottom: 0;
        width: 50px;
        height: 6px;
}

#letter-e4.wrapper {
        min-width: 70px;
}

#letter-e4 .circle {
        left: 0;
        bottom: 0;
        width: 60px;
        height: 60px;
        border: 5px solid green;
        border-radius: 50%;
        background: transparent;
}

#letter-e4 .middle {
        background: green;
        top: 60px;
        left:2px;
        width: 64px;
        height:5px;
}

#letter-e4 .cutout {
        background: white;
        right: 0;
        top: 65px;
        width: 10px;
        height: 60px;
}

#letter-e5 div {
        background: orange;
}

#letter-e5 .vertical {
        left: 0;
        top: 0;
        width: 12px;
        height: 100px;
}

#letter-e5 .top {
        left: 0;
        top: 0;
        width: 45px;
        height: 6px;
}

#letter-e5 .middle {
        left: 0;
        top: 44px;
        width: 45px;
        height: 6px;
}

#letter-e5 .bottom {
        left: 0;
        bottom: 0;
        width: 45px;
        height: 6px;
}

